@tailwind base;
@tailwind components;
@tailwind utilities;

.timeline {
  margin: 0 auto;
  padding: 25px;
  display: grid;
  grid-template-columns: 1fr 3px 1fr;
  font-family: "Fira Sans", sans-serif;
  color: #ffffff;
}
.timeline__component {
  margin: 0 40px 20px 40px;
}
.timeline__component--bg {
  border-radius: 10px;
}
.timeline__middle {
  position: relative;
  background: #D434FE;
  height: 150px;
}
.timeline__point {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 35px;
  height: 35px;
  background: #D434FE;
  border-radius: 50%;
}
.timeline__point--bottom {
  top: initial;
  bottom: 0;
}
.timeline__date--right {

}
.timeline__title {
  margin: 0;
  font-size: 1.15em;
  font-weight: bold;
}

.timeline__paragraph {
  line-height: 1.5;
}
.timeline-section{
	background-color: #150E28;
	min-height: 100vh;
	padding: 100px 15px;
}
.timeline-items{
	max-width: 1000px;
	margin:auto;
	display: flex;
	flex-wrap: wrap;
	position: relative;
}
.timeline-items::before{
	content: '';
	position: absolute;
	width: 2px;
	height: 100%;
	background-color: #D434FE;
	left: calc(50% - 1px);
}
.timeline-item{
	margin-bottom: 40px;
	width: 100%;
	position: relative;
}
.timeline-item:last-child{
	margin-bottom: 0;
}
.timeline-item:nth-child(odd){
  padding-right: calc(50% + 30px);
	text-align: right;
}
.timeline-item:nth-child(even){
  padding-left: calc(50% + 30px);
}
.timeline-dot{
	height: 32px;
	width: 32px;
	background-color: #D434FE;
	position: absolute;
	left: calc(50% - 8px);
	border-radius: 50%;
	top:10px;
}
.timeline-date{
	font-size: 18px;
	color: #D434FE;
	margin:6px 0 15px;
}
.timeline-content{
  background-color: #150E28;
	border-radius: 5px;
}
.timeline-content h3{
  font-size: 20px;
	color: #D434FE;
	margin:0 0 10px;
	text-transform: capitalize;
	font-weight: 500;
}
.timeline-content p{
  color: white;
	font-size: 12px;
	font-weight: 300;
	line-height: 22px;
}

@media(max-width: 767px){
	.timeline-items::before{
		left: 7px;
	}
	.timeline-item:nth-child(odd){
		padding-right: 0;
		text-align: left;
	}
	.timeline-item:nth-child(odd),
	.timeline-item:nth-child(even){
		padding-left: 37px;
	}
	.timeline-dot{
		left:0;
	}
}